@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header p {
    background-color: #1CD1B0;
    text-align: left;
    padding: 8px 8px 8px;
    font-size: 15px;
}

div h1 {
    background-color: #00669F;
    font-size: 40px;
    margin: 0;
    padding: 15px 15px 15px 15px;
    font-style: normal;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: sticky;
}

main {
    text-align: center;
}


main div.cards {
    background: #F3F3F3;
    width: min-content;
    text-align: center;
    display: inline-block;
    margin: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div .pj {
    position: relative;
    top: -80px;
    left: 12px;
    border-radius: 100px;
}

main div .nombrepj {
    margin-top: -50px;
    font-style: normal;
    font-size: 30px;
}

main div .like {
    position: relative;
    top: -273px;
    left: -184px;
}

main div p {
    font-size: 16px;
    margin: 30px 30px 30px 30px;
}

main div button {
    margin-bottom: 30px;
    border: 0;
    background: #00669F;
    width: 128.78px;
    height: 48.52px;
    font-size: 15px;
    color: #F3F3F3;
}

footer {
    background: #00669F;
    font-size: 16px;
    color: #FFF9F9;
    padding: 15px;

}